@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WeatherKit.Models.SettingOptions
@{ ViewData["Title"] = "Settings"; }


<link rel="stylesheet;nofollow" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="~/css/site.css" rel="stylesheet" />
<div class="text-center">
    <h1 class="display-4">Weatherkit Settings</h1>
</div>
<br />
<div>
    <h3>Units</h3>
    <br />
    <form method="post" asp-controller="Settings" asp-action="SaveSettings">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            @foreach (var unitOption in Model.UnitOptions)
            {
                if (unitOption.Equals(Model.UnitOption))
                {
                    <label class="btn btn-secondary active" style="margin-right: 5px; border-radius: 4px;">
                        <input type="radio" style="margin-left: 15px;" asp-for="UnitOption" value="@unitOption" />@unitOption<br />
                    </label>
                }
                else
                {
                    <label class="btn btn-secondary" style="margin-right: 5px; border-radius: 4px;">
                        <input type="radio" style="margin-left: 15px;" autocomplete="off" asp-for="UnitOption" value="@unitOption" />@unitOption<br />
                    </label>
                }
            }
        </div>
        <br />
        <br />
        <h3>Time format</h3>
        <br />
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            @foreach (var timeFormatOption in Model.TimeFormatOptions)
            {
                if (timeFormatOption.Equals(Model.TimeFormatOption))
                {
                    <label class="btn btn-secondary active"  style="margin-left: 5px; margin-right: 5px; border-radius: 4px;">
                        <input type="radio" autocomplete="off" asp-for="TimeFormatOption" value="@timeFormatOption" />@timeFormatOption<br />
                    </label>
                }
                else
                {
                    <label class="btn btn-secondary" style="border-radius: 4px;">
                        <input type="radio" autocomplete="off" asp-for="TimeFormatOption" value="@timeFormatOption" />@timeFormatOption<br />
                    </label>
                }
            }
        </div>
        <br />
        <br />
        <br />
        <input type="submit" value="Save Settings" />
    </form>
</div>