
@{
    ViewData["Title"] = "GetWeatherDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WeatherKit.Models.Forecast

<div>
    <H1 class="display-4">@Model.name </H1>

    <p>The Weather is: @Model.weather[0].description </p><

   
        @{ string img = "http://openweathermap.org/img/wn/" + Model.weather[0].icon + "@4x.png";
        }
        <img src="@img" />
        

            <p>The temperature is: @Model.main.temp degrees</p>

            <p>But it Feels like: @Model.main.feels_like degrees</p>

            <p>The Humidity is:  @Model.main.humidity% </p>

            <p>The Wind speed is: @Model.wind.speed mph</p>

            @ViewBag.Time





            @Model.sys.country
</div>

